@model Hostel.MVC.Models.RoomViewModel

@{
    ViewData["Title"] = "Room Details";
}

<h2>Room @Model.Id</h2>

<dl class="row">
    <dt class="col-sm-2">Room ID</dt>
    <dd class="col-sm-10">@Model.Id</dd>

    <dt class="col-sm-2">Staff ID</dt>
    <dd class="col-sm-10">@Model.StaffId</dd>

    <dt class="col-sm-2">Staff Incharge</dt>
    <dd class="col-sm-10">@Model.StaffName</dd>

    <dt class="col-sm-2">Students</dt>
    <dd class="col-sm-10">
        @if (Model.StudentNames != null && Model.StudentNames.Any())
        {
            <ul>
                @foreach (var student in Model.StudentNames)
                {
                    <li>@student</li>
                }
            </ul>
        }
        else
        {
            <span>No Students</span>
        }
    </dd>
</dl>

<p>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</p>
